@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");

$VeryDarkGrayishBlue: hsl(217, 19%, 35%);
$DesaturatedDarkBlue: hsl(214, 17%, 51%);
$GrayishBlue: hsl(212, 23%, 69%);
$LightGrayishBlue: hsl(210, 46%, 95%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Manrope", sans-serif;
  background-color: $LightGrayishBlue;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  background-color: $LightGrayishBlue;
}

.container {
  margin: 20px auto;
  min-width: 630px;
  max-width: 730px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-shadow: 3px 9px 9px $GrayishBlue;
  border-radius: 20px;
  .pho {
    .photo {
      max-width: 100%;
      height: auto;
      border-radius: 20px 0 0 20px;
    }
  }
  .content {
    padding: 20px;
    .title {
      padding-right: 50px;
      padding-left: 10px;
      margin-bottom: 10px;
      h1 {
        font-size: 19px;
        color: $VeryDarkGrayishBlue;
      }
    }
    .body {
      padding-right: 50px;
      padding-left: 10px;
      margin-bottom: 15px;
      p {
        font-size: 11px;
        color: $VeryDarkGrayishBlue;
      }
    }
    .foot {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      .avatar {
        width: 8%;
        border-radius: 50%;
      }
      .detail {
        margin-left: -170px;
        h3 {
          font-size: 11px;
          color: $VeryDarkGrayishBlue;
        }
        p {
          font-size: 11px;
          color: $DesaturatedDarkBlue;
        }
      }
      button {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        border: none;
        outline: none;
        margin-right: 50px;
        .btn {
          display: inline-block;
          cursor: pointer;
        }
      }

      #popup {
        display: none;
        width: 230px;
        height: 50px;
        background-color: $VeryDarkGrayishBlue;
        position: absolute;
        bottom: 50px;
        right: -53px;
        border-radius: 10px;
        .social {
          margin: 17px auto;
          display: flex;
          align-items: center;
          h4 {
            color: $DesaturatedDarkBlue;
            font-size: 11px;
            padding-right: 15px;
            text-transform: uppercase;
            letter-spacing: 4px;
          }
          .icon {
            padding: 8px;
          }
        }
        .square {
          width: 15px;
          height: 15px;
          background-color: $VeryDarkGrayishBlue;
          position: absolute;
          bottom: -3px;
          right: 111px;
          transform: rotate(45deg);
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .container {
    min-width: 300px;
    max-width: 330px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    .pho {
      height: 200px;
      width: 330px;
      .photo {
        height: 200px;
        width: 330px;
        margin-bottom: 10px;
        border-radius: 20px 20px 0 0;
      }
    }
    .content {
      .title {
        padding-right: 30px;
        h1 {
          font-size: 14px;
          font-weight: 700;
        }
      }
      .body {
        padding-right: 25px;
        margin-bottom: 30px;
        p {
          font-size: 12px;
        }
      }
      .foot {
        .detail {
          margin-left: -60px;
        }
        button {
          z-index: 5;
          margin-right: 20px;
        }
        #popup {
          display: none;
          height: 70px;
          bottom: -21px;
          left: -20px;
          min-width: 330px;
          border-radius: 0 0 10px 10px;
          .square {
            display: none;
          }
        }
      }
    }
  }
}
